<h1>About LOL Artemis</h1>
<h2>Phrase: Eliminate the fog of war</h2>
<h3>Description</h3>
<h3>What does it do?</h3>
<p>LoLArtemis aims to assist League of Legends players who seek to improve their game play and have an advantage versus the opponent. This app is designed to read the enemy jungler’s thought process and habits by retrieving their past jungling games and returning information about when and where they are likely to gank a lane.</p>
<h3>Description of Problems</h3>
<h3>How Can This Website Help Me?</h3>
<p>The Jungle is a versatile role that impacts laners in a game and can the deciding factor in winning or losing a game based on how much pressure they put on the map. Many non-junglers go to their lanes and want to play aggressively enough so that they can successfully win their lane but also play carefully so that the enemy jungler won’t take advantage of the aggressiveness and gank their lane to turn it around. Many laners have problems warding and don’t have enough map awareness to counter the pressure that the jungler holds. LoLAretmis looks to help these players by extracting past data on the enemy jungler and calculating statistics on the jungler’s behavior and where they like to gank.</p>
<h3>List of Use Cases</h3>
<h3>Why Use This Website?</h3>
<p>If you are <br><br>
  1. A laner trying to learn about the enemy jungler. <br><br>
	You will be able to choose whether to play passively or aggressively since you will have the peace of mind of knowing what the jungler is probably going to do. If you are playing top lane and you know from the stats that the jungler primarily likes to gank mid and bot, you can play a lot more aggressively. If the stats show that the jungler likes to camp your lane, then you can go in with a passive mentality to ensure that you won’t give your laner and the enemy jungler an advantage. <br><br>

  2. A laner looking for information on an allied jungler. <br><br>
  Sometimes you might want to coordinate with your jungler in order to set up plays. If you are playing a lane that you know you will lose and the stats show that your jungler likes to gank your lane, then you can have confidence in asking them to help you in your lane. <br><br>

  3. A jungler looking for information on the enemy jungler.<br><br>
  Junglers can benefit from this website as well. By looking up the enemy jungler, you can set up counter-ganks (or avoid them) to ensure that you can shut down the enemy jungler.<br><br>

  4. A player outside of a game looking for information on certain popular junglers.<br><br>
  This application isn’t restricted to users that are loading into a game. With the ability to search for any summoner, a player that wants to understand the role of jungle can look up popular/high-ranked players who jungle and figure out the best lanes to gank for certain champions. <br><br>
</p>

<a href='http://localhost:4000/info'>info</a> <a href='http://localhost:4000/team'>team</a> <a href='http://localhost:4000/'>home</a> <a href='http://localhost:4000/user-login'>login</a>
