<h1>User Login</h1>
<div>{{message}}</div><br>
<form method="post" action="/user/auth">
  User Name: <input type="text" name="name"> <br>
  Password:  <input type="password" name="pass"> <br>
  <button>Login</button>
</form>
<a href='http://localhost:4000/info'>info</a> <a href='http://localhost:4000/team'>team</a> <a href='http://localhost:4000/about'>about</a> <a href='http://localhost:4000/'>home</a>
